MYSQL_HOST=srv2210.hstgr.io
MYSQL_PORT=3306
MYSQL_USER=u573639995_admin
MYSQL_PASSWORD=Amogh@28102000
MYSQL_DATABASE=u573639995_prod
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dlt9vf8qk
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=hindonix_hero
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
NEXT_PUBLIC_GOOGLE_SHEETS_WEB_APP_URL=YOUR_GOOGLE_SHEETS_WEB_APP_URL
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZW5nYWdpbmctaHllbmEtMTcuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_dlnQcaNuRdA8bqoeC76YwOPXaOtxRbkuke2xfK09b7
