# Hindonix Environment Variables Template
# Copy this file to .env.local for development
# Copy this file to .env.production for Docker deployment

# ===========================================
# Upstash Redis Configuration
# Get these from https://console.upstash.com/
# ===========================================
VITE_UPSTASH_REDIS_REST_URL="https://fit-calf-6753.upstash.io"
VITE_UPSTASH_REDIS_REST_TOKEN="ARphAAImcDJiMWIzY2U5NDEzYjM0YzlmOWZlZDcyYWUzNmRlMjY4OXAyNjc1Mw"


# ===========================================
# Cloudinary Configuration
# Get these from https://cloudinary.com/console
# ===========================================
VITE_CLOUDINARY_CLOUD_NAME=dlt9vf8qk
VITE_CLOUDINARY_UPLOAD_PRESET=Hindonix_Upload

# ===========================================
# Clerk Authentication
# Get this from https://dashboard.clerk.com/
# ===========================================
VITE_CLERK_PUBLISHABLE_KEY=pk_test_ZW5nYWdpbmctaHllbmEtMTcuY2xlcmsuYWNjb3VudHMuZGV2JA
VITE_GOOGLE_SHEETS_WEB_APP_URL=https://script.google.com/macros/s/AKfycbzUtlH7HxiXmR_wGK7o_Eu2FFqsRZjBJITqZEVr5V4j51NHEbR0BfQu9UbPrLgtMrJw-g/exec
